<section class="cta3">
    <div class="container">
          <div class="row">
             {% if page.header.image %}
            <div class="col-lg-6 col-sm-6 col-md-6">&nbsp;</div>
            <div class="col-lg-6 col-sm-6 col-md-6 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.4s">
            {% else %}
            <div class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.4s">
            {% endif %}
                <h2>{{ page.header.title }}</h2>
                <span class="line"></span>
                {{ content|raw }}
                {% if page.header.button_url %}
                <a href="{{ page.header.button_url }}">{{ page.header.button_label }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if page.header.image %}
    <div class="safariimg os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.4s">
        {{ page.media.images[page.header.image].cache.html|raw }}
    </div>
    {% endif %}
</section>
