<div class="map-container">
    <div id="googleMaps"></div>
</div>

<script>
  function initMap() {
    var myLatLng = {lat: {{ page.header.latitude|defined(0) }}, lng: {{ page.header.longitude|defined(0) }}};

    var map = new google.maps.Map(document.getElementById('googleMaps'), {
      zoom: {{ page.header.zoom|defined(10) }},
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      {% if page.header.marker_icon %}
      icon: '{{ page.media.images[page.header.marker_icon].cache.url }}'
      {% endif %}
    });
  }
</script>
<script src="https://maps.google.com/maps/api/js?key={{ page.header.google_maps_api_key }}&callback=initMap"></script>
