<ul>
{% if page.template == 'modular' %}
    {% for module in page.collection() if module.header.menu %}
    <li class="menu-item{% if loop.index == 1 %} active{% endif %}">
        <a href="#{{ module.folder|trim('_') }}" data-scroll>{{ module.header.menu }}</a>
    </li>
    {% endfor %}
{% else %}
    {% for p in pages.children.visible %}
    {% set current_page = (p.active or p.activeChild) ? ' active' : '' %}
    <li class="menu-item{{ current_page }}">
        <a href="{{ p.url }}">{{ p.menu }}</a>
    </li>
    {% endfor %}
{% endif %}
</ul>
